@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('highlight.js/styles/an-old-hope.css');

* {
  scrollbar-color: grey #25282E
}


.hljs {
    background: inherit !important;
    padding: inherit !important;
    display: inherit !important;
}
